{% extends 'serp/layout.html' %} 

{% load static %} 
{% load crispy_forms_tags %}
{% block title %}Edit Consultation{% endblock %} 

{% block content %}

<h1>Edit Consultation</h1>
<p>Consultation details</p>

<form method="post" action="{% url 'consultation_edit_url' consultation.id %}" class="form-group">
    {% csrf_token %}
    <div class="text-right"><input type="submit" value="Save" class="btn btn-primary"></div>
    {{ form | crispy }}
    <div class="text-right"><input type="submit" value="Save" class="btn btn-primary"></div>
</form>
{% endblock %}
