{% extends 'serp/layout.html' %} 

{% load static %} 

{% block title %}Customers{% endblock %} 

{% load crispy_forms_tags %}

{% block scripts %}

    <script src="{% static 'serp/customer_list.js' %}" type="text/javascript"></script>

{% endblock%} 

{% block content %}

<h1>
    Customers
</h1>

<p>List of customers in the company</p>

<a id="customer_add_url" href="{% url 'customer_add_url' %}" style="display: none;"></a>

{% if customers %}
    <div class="hidden">
        <table class="myDataTable table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th><i class="fas fa-tasks"></i></th> 
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Postal Code</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'customer_edit_url' customer.id %}"><i class="fas fa-edit"></i></a></td>
                        <td>{{ customer.email | default_if_none:"--" }}</td>
                        <td>{{ customer.first_name | default_if_none:"--"  }}</td>
                        <td>{{ customer.last_name | default_if_none:"--"  }}</td>
                        <td>{{ customer.phone_number | default_if_none:"--"  }}</td>                    
                        <td>{{ customer.address | default_if_none:"--"  }}</td>
                        <td>{{ customer.postal_code | default_if_none:"--"  }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<div class="text-center pb-2" >
    <a href="{% url 'customer_add_url' %}"><button class="btn btn-secondary" id="addCustomer" style="margin-left: auto; margin-right: auto;"><i class="fas fa-plus"></i> Add Customer</button></a>
</div>

    <img src="{% static 'serp/images/noCustomerRecord.png' %}" style="height: 50vh; display: block; margin-left: auto; margin-right: auto;  " alt="">
{% endif %}



{% endblock %}